.search {
  -webkit-appearance: none;
  /* border: none; */
  /* background-color: red; */
  outline: none;
  padding: 10px;
  width: 150px;
  height: 35px;
  line-height: 30px;
  margin-bottom: 30px;
}
